*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
#header{
    border-top: 2px solid #ccc;
    height: 100px;
}
#header .wrapper{
    width: 1330px;
    margin: 0 auto;
}
#menu{
    width: 530px;
    height: 98px;
    float: left;
}
#menu span, #load p, #load span{
    color: #4e4e4e;
}
#load a{
    color: #967a50;
    font-size: 14px;
}
#main-header{
    height: 100px;
    position: relative;
}
#menu img{
    position: absolute;
    left: 30px;
    top: 30px;
}
#menu span{
    position: absolute;
    left: 30px;
    top: 50px;
}
#logo{
    float: left;
    margin-left: 40px;
}
#logo .logo{
    width: 226px;
    height: 70px;
    margin: 0 auto;
    padding: 15px 0;
    display: block;
}
img{
    display: block;
}
#logo img{
    width: 73px;
    margin: 0 auto;
}
#load {
    height: 98px;
    width: 530px;
    float: left;
    /*position: relative;*/
    /*top: 30px;*/
}
#load .load{
    width: 520px;
    position: absolute;
    top: 30px;
    text-align: right;
}
/*@media (max-width: 1300px) {*/
    /*#header .wrapper{*/
        /*width: 100%;*/
    /*}*/
    /*#menu, #load{*/
        /*width: 30%;*/
    /*}*/
    /*#logo{*/
        /*width: 40%;*/
    /*}*/
/*}*/
figure{
    width: 100%;
    position: relative;
}
figure img{
    width: 100%;
    vertical-align: middle;
}
figure p{
    width: 32px;
    height: 20px;
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    font-size: 12px;
    right: 30px;
    top: 20px;
    text-align: center;
    line-height: 20px;
}
#rewords{
    height: 220px;
    background: #0F0F0F;
}
.rewords{
    background: url('../img/rewards_bg.png') 200px -50px no-repeat;
    background-size: contain;
    height: 220px;
    position: relative;
}
.rewords p{
    color: #fff;
    width: 260px;
    height: 28px;
    position: absolute;
    top: 80px;
    left: 300px;
}
.logo{
    background: url('../img/rewards_logo_20170209.svg') no-repeat;
    width: 160px;
    height: 38px;
    background-size: contain;
}