*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
}
header{
    height: 100px;
}
header div{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    color: #4e4e4e;
}
header div a{
    color: #967a50;
    font-size: 14px;
}
#img{
    width: 225px;
    height: 80px;
    float: left;
    position: relative;
}
#img img{
    width: 73px;
    height: 73px;
    position: absolute;
    left: 600px;
    top: -10px;
}
nav{
    position: relative;

}
nav p{
    float: left;
    color: #4e4e4e;
    margin-left: 50px;
    margin-top: 45px;
    font-size: 14px;
}
nav img{
    display: block;
    float: left;
    width: 40px;
    height: 25px;
    position: absolute;
    left: 45px;
    top: 20px;
    /*margin-left: 50px;*/
}
figure{
    position: relative;
}
figure img{
    width: 100%;
    vertical-align: middle;
}
figure p{
    width: 32px;
    height: 20px;
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    font-size: 12px;
    right: 30px;
    top: 20px;
    text-align: center;
    line-height: 20px;
}
#rewords{
    height: 220px;
    background: #0F0F0F;
}
.rewords{
    background: url('../img/rewards_bg.png') 300px 0px no-repeat;
    background-size: contain;
    height: 220px;
    position: relative;
}
.rewords p{
    color: #fff;
    width: 260px;
    height: 28px;
    position: absolute;
    top: 80px;
    left: 400px;
}