.dialog-container{
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
}
.dialog-mask{
    width: 100%;
    height: 100%;
    background: #cccccc;
}
.dialog-box{
    width: 500px;
    height: 400px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: -200px;*/
    /*margin-left: -200px;*/
}
.dialog-title{
    height: 30px;
    background: #000000;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
}

.dialog-title-item{
    float: left;
}
.dialog-title-close{
    float: right;
    cursor: pointer;
}